#contenido
{
	/*Le ponemos estilos al article contenedor de la imagen*/
	background: #243;
	border-radius: .2em;
	color: white;
	margin: 0 auto;
	max-width: 95%;
	text-align: center;
}

#oculto
{
	/*Con esta instruccion hacemos q el texto a mostrar este oculto de manera predeterminada al ingresar a la pagina por primera ves*/
	display: none;
}

.container1 {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
.contenedor { 
    width: 30px;
}
#containerusuarios{
	width: 80% !important
}

.img{
	width: 100%;
	height: 100%;
	
}
.imgs{
	width: 80%;
	height: 80%;	
}

#img{
	width: 100%;
	height: 100%;
}
#img1{
	width: 8%;
}

#container3{
	width: 90%;
}
#panel{
	width: 70%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

 main {
    flex: 1 0 auto;
  }

